textarea{
    height: 90px;
    width: 250px;
}

.Btns{
    background-color: $background;
    border-color: $background;
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 4px;
    font-size: large;
}

.forme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 4%;
    margin-right: 5%;
}

select{
    width: 150px;
    background-color: whitesmoke;
    border-radius: 4px;
    color: black;

}
